<div *ngIf="!validUser">
  <h2>Su cuenta de usuario no tiene escuelas asignada</h2>
  Por favor contactar al proveedor de servicio EduTrack para verificar si tiene activada licencia de uso.
</div>

<div *ngIf="validUser && !params">
  <h2>Cargando datos ...</h2>
</div>

<div *ngIf="params && selectedData">
  <h1>{{params.yearsRange[0]}} a {{params.yearsRange[1]}} - Resumen del total de estudiantes que estuvieron matriculados en 8º Básico</h1>

  <div *ngIf="params && params.statistics" class="well">
    <span class="label label-info">{{params.statistics.count}}</span> estudiantes matriculados en 8º Básico entre los años {{params.yearsRange[0]}} y {{params.yearsRange[1]}}<br>
    <p></p>
    <span class="label label-info">{{params.statistics.nem}}</span> tienen registro final de <span class="label label-info">Enseñanza Media</span><br><br>
    <span class="label label-info">{{params.statistics.edsup}}</span> registran matrícula en <span class="label label-info">Educación Superior</span><br>
  </div>

  <h1><span class="strong">{{selectedYear}}</span> Información de estudiantes matriculados en 8º Básico el año seleccionado</h1>

  <div *ngIf="selectedYearStatistics" class = "well">
    <span class="label label-info">{{selectedYearStatistics.count}}</span> estudiantes matriculados en 8º Básico el año {{selectedYear}}<br>
    <p></p>
    <span class="label label-info">{{selectedYearStatistics.nem}}</span> tienen registro final de <span class="label label-info">Enseñanza Media</span><br><br>
    <span class="label label-info">{{selectedYearStatistics.edsup}}</span> registran matrícula en <span class="label label-info">Educación Superior</span><br>
  </div>



  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
              <h5>Liceos o colegios de Enseñanza Media en los que se matricularon</h5>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <tr>
                      <th>Liceo</th>
                      <th>Comuna</th>
                      <th>Numero Estudiantes</th>
                    </tr>
                    <tr *ngFor="let item of sortedHighSchools">
                      <td>
                        {{item.name}}
                      </td>    
                      <td>
                        {{item.comuna}}
                      </td>
                      <td>
                        {{item.numStudents}}
                      </td>
                    </tr>
                  </table>  

                  <div class="text-muted">Nota: El mismo estudiante puede registrar matrícula en multiples liceos a lo largo del tiempo</div>
            </div>
        </div>


    </div>  
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
              <h5>Carreras de Educación Superior en las que se matricularon</h5>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <tr>
                      <th>Carrera</th>
                      <th>Institucion</th>
                      <th>Numero Estudiantes</th>
                    </tr>
                    <tr *ngFor="let item of sortedProgramasEdSup">
                      <td>
                        {{item.carrera}}
                      </td>    
                      <td>
                        {{item.institucion}}
                      </td>
                      <td>
                        {{item.numStudents}}
                      </td>
                    </tr>
                  </table> 
                  <div class="text-muted">Nota: El mismo estudiante puede registrar matrícula en multiples carreras a lo largo del tiempo</div>

            </div>
        </div>

    </div>
    
  </div>
  <div class="ibox ">
      <div class="ibox-title">
        <h5>Detalle de cada estudiante matriculado en 8º el año {{selectedYear}}</h5>
      </div>
      <div class="ibox-content">

          <table class="table">
              <tr>
                <th>Estudiante</th>
                <th *ngFor="let colNum of columnRange">{{colNum + +selectedYear + 1}}</th>
              </tr>
              <tr *ngFor="let studentItem of selectedData; index as i">
                <td
                [matTooltip]="studentDetailedInfo(studentItem)"
                >
                    {{i+1}}) {{studentBasicInfo(studentItem)}}
                </td>
                <td *ngFor="let colNum of columnRange" 
                  [matTooltip]="studentItem.postBasica[colNum] && cellTitle(studentItem.postBasica[colNum])"
                  [ngClass]="studentItem.postBasica[colNum] && studentItem.postBasica[colNum].nivel"
                  [class.nem]="isNem(studentItem,colNum)"
                  
                  >{{studentItem.postBasica[colNum] && cellLabel(studentItem.postBasica[colNum])}}
                </td>
              </tr>
            </table>
      </div>
  </div>
</div>



