td.EM {
  background-color: #ece2f0;
  cursor: pointer;
}

td.EM.nem {
  background-color: #ece2f0;
  border: solid;

  cursor: pointer;
}

td.ES {
  background-color: #1c9099;
  color: white;
}

td.titulo {
  background-color: #1c9099;
  color: white;
}