<div class="row border-bottom">
        
    <!--
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>

            <form class="form-inline">

                
            </form>            
            <form class="form-inline">

            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" *ngIf="user && dataService && dataService.mySchools && dataService.mySchools.length">
            <select [(ngModel)]="dataService.selectedSchool" (change)="dataService.changeSchool()" class="form-control" name="school" id="school">
                <option  *ngFor="let item of dataService.mySchools" [ngValue]="item">{{item.nombre}}</option>
            </select>
        </form>

        <form class="navbar-form navbar-left" *ngIf="user && dataService && dataService.allYears">
            <select [(ngModel)]="dataService._selectedYear" (change)="dataService.changeYear()" class="form-control" name="years" id="years">
                <option  *ngFor="let year of dataService.allYears" [ngValue]="year">{{year}}</option>
            </select>
        </form>
    </nav>
</div>




                                        